{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="form_signup mx-5 my-5">
                <h3 class="mb-1 mt-5 mb-5">Création de compte </h3>
                <form method="POST">
                    {% csrf_token %}

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                    {{ message}}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {{ form.as_p }}

                    <input type="submit" class="btn btn-primary mb-3" value="soumettre">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}